.s-select {
  .toggler {
    width: 100%;
    border: 1px solid #ccc;
    padding: 6px 12px;
    border-radius: 4px;
    &::after {
      content: '\f0dd';
      font: normal normal normal 14px/1 FontAwesome;
      float: right;
      margin-right: -5px;
    }
  }

  .dropdown-menu {
    width: 100%;
    z-index: 10000;
    max-height: 200px;
    overflow-y: auto;
    li {
      padding-left: 5px;
      padding-right: 5px;
      &:hover {
        background: #717171;
        color: white;
        cursor: pointer;
      }
    }
  }
}

.input-group {
  .s-select {
    .toggler {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}
