<div class="dropdown s-select">
  <div class="toggler" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{value.text}}
  </div>
  <ul class="dropdown-menu" aria-labelledby="dLabel">
    <li v-for="option in options" @click="selectOption(option)">{{option.text}}</li>
  </ul>
</div>
