<div class="s-editable">
  <div v-if="active" class="">
    <div class="input-group">
      <datepicker
        :disabled="loading"
        :class="{disabled: loading}"
        v-model.native="editedValue"
        ref="input"
        class="form-control"
        :min-date="minDate"
        :max-date="maxDate"
      />
      <span class="input-group-btn">
        <button :disabled="loading" :class="{disabled: loading}" class="btn btn-success" @click="save($refs.input.$el.value)" type="button">
          <span v-if="loading">
            <i class="fa fa-spinner fa-spin"></i>
            Saving...
          </span>
          <span v-else>Save</span>
        </button>
        <button :disabled="loading" :class="{disabled: loading}" class="btn btn-danger" @click="cancel()" type="button">Cancel</button>
      </span>
    </div>
  </div>
  <div v-else class="editable-container stooltip" @dblclick="enterActiveMode()"
    ref="editableText">
    <span class="tooltiptext">Double click to edit</span>
    {{editedValue || "-"}}
    <span class="editable-pincel">
      <i class="fa fa-pencil" aria-hidden="true"></i>
    </span>
  </div>
</div>
