<nav>
  <ul class="pagination">
    <li :class="{disabled: current <= 1, active: current == 1}">
      <router-link
        @click.native="goTo(1)"
        :to="{
          path: $router.path,
          query: {
            page: 1
          }
        }"
        aria-label="First">
        First
      </router-link>
    </li>
    <li :class="{disabled: current <= 1}">
      <router-link
        @click.native="goTo(parseInt(current))"
        :to="{
          path: $router.path,
          query: {
            page: (current - 1) < 1 ? 1 : current - 1
          }
        }"
        aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </router-link>
    </li>
    <li v-for="page in pagesRange" :class="{active: current == page}">
      <router-link @click.native="goTo($route.query.page)" :to="{
        path: $route.path,
        query: {page}
      }">
        {{page}}
      </router-link>
    </li>
    <li :class="{disabled: current >= pagesNumber}">
      <router-link
        @click.native="goTo(current)"
        :to="{
          path: $router.path,
          query: {
            page: (current + 1) > pagesNumber ? pagesNumber : current + 1
          }
        }"
        aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </router-link>
    </li>
    <li :class="{disabled: current >= pagesNumber, active: current == pagesNumber}">
      <router-link
        @click.native="goTo(pagesNumber)"
        :to="{
          path: $router.path,
          query: {
            page: pagesNumber
          }
        }"
        aria-label="Last">
        Last
      </router-link>
    </li>
  </ul>
</nav>
