.autocomplete-container {
  position: relative;

  .autocomplete-loading {
    position: absolute;
    top: 30%;
    right: 0;
  }

  .autocomplete-results {
    margin: 0;
    padding: 0;
    background: white;
    border: 1px solid #bbb;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: absolute;
    top: 100%;
    width: 100%;
    box-shadow: 1px 1px 1px #eee;

    li {
      display: block;
      padding: 5px;
      border-bottom: 1px solid #bbb;

      &:hover {
        background: #eee;
        cursor: pointer;
      }
    }
  }
}
