<div class="autocomplete-container">
  <div v-if="loading" class="autocomplete-loading">
    <i class="fa fa-spinner fa-spin fa-fw"></i>
  </div>
  <input :class="inputClass" type="text" ref="input" @keyup="startAutocomplete($event)">
  <ul v-if="active" ref="results" class="autocomplete-results">
    <li v-for="item in items" @click="select(item)">{{ formatedItem(item) }}</li>
  </ul>
</div>
