.s-editable {
  display: inline-block;
}

.editable-container {
  border-bottom: 1px dotted #eee;
  .editable-pincel {
    display: none;
  }
  &:hover {
    .editable-pincel {
      display: inline;
    }
  }
}
