@mixin margin-mixin($position) {
    @for $i from 1 through 10 {

        @if($position == "all") {
            .margin-#{$i}x {
                margin: 5px * $i !important;
            }
        } @else {
            .margin-#{$position}-#{$i}x {
                margin-#{$position}: 5px * $i !important;
            }
        }


    }
}

@mixin padding-mixin($position) {
    @for $i from 1 through 10 {

        @if($position == "all") {
            .padding-#{$i}x {
                padding: 5px * $i !important;
            }
        } @else {
            .padding-#{$position}-#{$i}x {
                padding-#{$position}: 5px * $i !important;
            }
        }


    }
}

@mixin no-padding($position) {
    .no-padding-#{$position} {
        @if($position == "all") {
            padding: 0 !important;
        } @else {
            padding-#{$position} : 0 !important;
        }
    }
}

@mixin placeholder {
    ::-webkit-input-placeholder {@content}
    :-moz-placeholder           {@content}
    ::-moz-placeholder          {@content}
    :-ms-input-placeholder      {@content}
}

@include margin-mixin("all");
@include margin-mixin("left");
@include margin-mixin("right");
@include margin-mixin("top");
@include margin-mixin("bottom");

@include padding-mixin("all");
@include padding-mixin("left");
@include padding-mixin("right");
@include padding-mixin("top");
@include padding-mixin("bottom");

@include no-padding('all');
@include no-padding('left');
@include no-padding('right');
@include no-padding('top');
@include no-padding('bottom');

//logic
@for $i from 10 through 50 {
  .f#{$i} { font-size: 1px * $i !important; }
}

@for $i from 18 through 50 {
  .line-height#{$i} { line-height: 1px * $i !important; }
}
