$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import '~font-awesome/css/font-awesome.css';
@import '~jquery-ui-dist/jquery-ui.css';
@import "vars";
@import "mixins";

.page-header {
  margin-top: 0;
}

.navbar {
  margin-bottom: 0;
}

.modal-open .modal {
  background: rgba(0, 0, 0, 0.31);
}

.ui-front {
  z-index: 100000;
}
