<layout>
  <div class="page-header">
    <h1><small>Channels</small></h1>
  </div>
  <div class="row margin-bottom-3x">
    <div class="col-md-3">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for...">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">Go!</button>
        </span>
      </div><!-- /input-group -->
    </div><!-- /.col-md-3 -->
  </div><!-- /.row -->
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Location Name</th>
        <th>Domain</th>
        <th>Phone</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="(item, i) in channels">
        <td>{{item.name}}</td>
        <td>{{item.domain}}</td>
        <td>{{item.phone}}</td>
        <td>
          <router-link :to="{name: 'editChannel', params: {id: item.id}}">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </router-link>
        </td>
      </tr>
    </tbody>
  </table>
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</layout>
