<layout>
  <div class="page-header">
    <h1><small>Channel: {{channel.name}}</small></h1>
  </div>
  <tabs>
    <tab title="Locations">
      <locations-tab></locations-tab>
    </tab>
  </tabs>
</layout>
