<div>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" :class="{active: active == title}" v-for="(title, i) in titles" @click="active = title">
      <a :href="'#' + title" :aria-controls="title" role="tab" data-toggle="tab">{{title}}</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <slot></slot>
  </div>

</div>
