<base-modal title="New Channels Parking Rate"
  label="New Parking Rate"
  btn-class="btn btn-warning"
  modal-class="text-left">
  <template slot="body">
    <form >
      <label>Select Parking Type</label>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">
          <i class="fa fa-car" aria-hidden="true"></i>
        </span>
        <s-select :selected="form.type" :options="types" v-on:selectedChanged="(n) => form.type = n"></s-select>
      </div>
      <div class="text-danger" v-if="errors.type">
        {{ errors.type }}
      </div>
      <br>
      <label>From Date</label>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">
          <i class="fa fa-calendar" aria-hidden="true"></i>
        </span>
        <datepicker v-model="form.fromDate" class="form-control"></datepicker>
      </div>
      <div class="text-danger" v-if="errors.fromDate">
        {{ errors.fromDate }}
      </div>
      <br>
      <label>To Date</label>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">
          <i class="fa fa-calendar" aria-hidden="true"></i>
        </span>
        <datepicker v-model="form.toDate" :min-date="form.fromDate" class="form-control"></datepicker>
      </div>
      <div class="text-danger" v-if="errors.toDate">
        {{ errors.toDate }}
      </div>
      <br>
      <label>Channels</label>
      <!-- <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">
          <i class="fa fa-unlock-alt" aria-hidden="true"></i>
        </span>
        <autocomplete
          :source="channels"
          @select="autocompleteSelect"
          :format="autocompleteFormat"
          class="form-control"
          placeholder="Start typing..."
        >
        </autocomplete>
      </div> -->
      <div v-if="channels.length">
        <table class="table table-striped">
          <thead>
            <tr>
              <th> Select </th>
              <th> Channel Name </th>
              <th> Channel Domain </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(channel, i) in channels">
              <td>
                <input type="checkbox" v-model="selectedChannels" :value="channel">
              </td>
              <td>{{channel.name}}</td>
              <td>{{channel.domain}}</td>
              <!-- <td>
                <a href="#" @click.prevent="removeChannel(i)">
                  <i class="fa fa-times text-danger" aria-hidden="true"></i>
                </a>
              </td> -->
            </tr>
          </tbody>
        </table>
      </div>
      <div class="text-danger" v-if="errors.channels">
        {{ errors.channels }}
      </div>
      <br>
      <label>Number of parking spots</label>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">
          <i class="fa fa-hashtag" aria-hidden="true"></i>
        </span>
        <input type="text" v-model="form.parkingsNumber" class="form-control">
      </div>
      <div class="text-warning">
        The remaining available parkings {{totalAvailable}}
      </div>
      <div class="text-danger" v-if="errors.parkingsNumber">
        {{ errors.parkingsNumber }}
      </div>
      <br>
      <label>Price</label>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">
          <i class="fa fa-usd" aria-hidden="true"></i>
        </span>
        <input type="text" v-model="form.price" class="form-control">
      </div>
      <div class="text-danger" v-if="errors.price">
        {{ errors.price }}
      </div>
      <br>
      <label>Price Type</label>
      <div class="input-group">
        <label>
          <input type="radio" v-model="form.daily_or_hourly" value="daily">
          Daily
        </label>
        &nbsp;
        <label>
          <input type="radio" v-model="form.daily_or_hourly" value="hourly">
          Hourly
        </label>
      </div>
      <div class="text-danger" v-if="errors.daily_or_hourly">
        {{ errors.daily_or_hourly }}
      </div>
      <br>
      <label>
        <input v-model="form.forRooms" ref="" type="checkbox" >
        Only for rooms
      </label>
      <br>
      <small>They will be available only with booking rooms</small>
      <div class="text-danger" v-if="errors.forRooms">
        {{errors.forRooms}}
      </div>
      <!-- <br>
      <label>Available only with rooms?</label>
      <div class="input-group">
        <label>
          <input type="radio" v-model="form.forRooms" value="yes">
          Yes
        </label>
        &nbsp;
        <label>
          <input type="radio" v-model="form.forRooms" value="no">
          No
        </label>
      </div> -->
    </form>
  </template>
  <template slot="footer" scope="props">
    <button class="btn btn-primary" @click.prevent="submit(props)">Save</button>
    <button class="btn btn-default" @click.prevent="props.close()">Close</button>
  </template>
</base-modal>
