<div class="row">
  <div class="col-sm-8 col-sm-offset-2 margin-top-3x">
    <div class="text-right">
      <new-rooms-type></new-rooms-type>
      <new-parkings-type></new-parkings-type>

    </div>
    <div class="form-group">
      <label for="totalRoomsNumber">Total Rooms Number</label>
      <input v-model.number="formData.number_of_rooms"
        type="text" class="form-control" id="totalRoomsNumber"
        placeholder="Total Number of Rooms">
        <div class="text-danger" v-if="errors.number_of_rooms">
          {{ errors.number_of_rooms[0] }}
        </div>
    </div>

    <div class="form-group">
      <label for="totalParkingsNumber">Total Parkings Number</label>
      <input v-model.number="formData.number_of_parkings"
        type="text" class="form-control" id="totalParkingsNumber"
        placeholder="Total Number of Parkings">
        <div class="text-danger" v-if="errors.number_of_parkings">
          {{ errors.number_of_parkings[0] }}
        </div>
    </div>
    <hr>
    <div v-if="roomTypes.length" class="">
      <label>
        Available rooms types:
      </label>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Room Type</th>
            <th>Number of Rooms</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in roomTypes">
            <td>
              {{item.selected.text}}
            </td>
            <td>
              {{item.roomsNumber}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div v-else class="text-warning">
      No room types were added
    </div>
    <hr>
    <div v-if="parkingTypes.length" class="">
      <label>
        Available Parking types:
      </label>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Parking Type</th>
            <th>Number of Spots</th>
            <!-- <th>For Rooms?</th> -->
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in parkingTypes">
            <td>
              {{item.selected.text}}
            </td>
            <td>
              {{item.parkingsNumber}}
            </td>
            <!-- <td>
              {{item.forRooms? 'yes':'no'}}
            </td> -->
          </tr>
        </tbody>
      </table>
    </div>
    <div v-else class="text-warning">
      No Parking types were added
    </div>

  </div>
</div>
