<div class="row">
  <div class="col-sm-8 col-sm-offset-2 margin-top-3x">
    <div class="form-group">
      <label for="locationName">Location Name</label>
      <input v-model.trim="formData.name" type="text" class="form-control" id="locationName" placeholder="Location Name">
      <div class="text-danger" v-if="errors.name">
        {{ errors.name[0] }}
      </div>
    </div>
    <div class="form-group">
      <label for="locationPhone">Phone Number</label>
      <input v-model.trim="formData.phone" type="text" class="form-control" id="locationPhone" placeholder="Location Phone Number">
      <div class="text-danger" v-if="errors.phone">
        {{ errors.phone[0] }}
      </div>
    </div>
    <div class="form-group">
      <label for="locationAddress">Address</label>
      <input v-model.trim="formData.address" type="text" class="form-control" id="locationAddress" placeholder="Address">
      <div class="text-danger" v-if="errors.address">
        {{ errors.address[0] }}
      </div>
    </div>
  </div>
</div>
