<div v-if="canShow" ref="modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal">
  <div class="modal-dialog" role="document" >
    <div class="modal-content">
      <div class="modal-header">
        <button @click.prevent="close" type="button" class="close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3>{{title}}</h3>
      </div>
      <div class="modal-body f16">
        <slot name="body"></slot>
      </div>
      <div class="modal-footer">
        <slot name="footer" :close="close"></slot>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
