<div class="row">
  <div class="col-sm-8 col-sm-offset-2 margin-top-3x">
    <div class="text-right">
      <room-rate-modal></room-rate-modal>
      <parking-rate-modal></parking-rate-modal>
    </div>

    <table class="table table-striped margin-top-3x">
      <thead>
        <tr>
          <th> Channel Name </th>
          <th> Domain </th>
          <th> Phone </th>
          <th>  </th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="channel in location.channels">
          <td> {{ channel.name }} </td>
          <td> {{ channel.domain }} </td>
          <td> {{ channel.phone }} </td>
          <td>
            <button class="btn btn-default" @click.prevent="activateViewRates(channel)">
              View Rates
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <div v-if="activeChannel">
      <hr>
      <h2 class="text-info">{{activeChannel.name}}</h2>
      <h3>Rooms Rates</h3>
      <table class="table table-striped" v-if="activeChannel.roomRates.length">
        <thead>
          <tr>
            <th> Location Type </th>
            <th> Price </th>
            <th> Number Of Rooms </th>
            <th> From Date </th>
            <th> To Date </th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="rate in activeChannel.roomRates">
            <td> {{ rate.type.text }} </td>
            <td> ${{ rate.price }} </td>
            <td> {{ rate.roomsNumber }} </td>
            <td> {{ rate.fromDate }} </td>
            <td> {{ rate.toDate }} </td>
          </tr>
        </tbody>
      </table>
      <div v-else class="text-warning">
        There are no rates available
      </div>
      <hr>
      <h3>Parking Rates</h3>
      <table class="table table-striped" v-if="activeChannel.parkingRates.length">
        <thead>
          <tr>
            <th> Location Type </th>
            <th> Price </th>
            <th> Number Of Spots </th>
            <th> Hourly/Daily </th>
            <th> Only For Rooms </th>
            <th> From Date </th>
            <th> To Date </th>
            <th> Remove </th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="rate in activeChannel.parkingRates">
            <td> {{ rate.type.text }} </td>
            <td> ${{ rate.price }} </td>
            <td> {{ rate.parkingsNumber }} </td>
            <td> {{ rate.daily_or_hourly }} </td>
            <td> {{ rate.forRooms ? 'yes' : 'no' }} </td>
            <td> {{ rate.fromDate }} </td>
            <td> {{ rate.toDate }} </td>
            <td>
              <a href="#" @click.prevent="remove('parking', rate)">
                <i class="fa fa-times text-danger" aria-hidden="true"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <div v-else class="text-warning">
        There are no rates available
      </div>
    </div>

  </div>
</div>
