<base-modal label="New Parkings Type" title="Add New Parkings Type" btn-class="btn-warning" modal-class="text-left">
  <template slot="body">
    <form @submit.prevent="onFormSubmit">
      <label>Select Parking Type</label>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">
          <i class="fa fa-hashtag" aria-hidden="true"></i>
        </span>
        <s-select :selected="form.selected" :options="abstract" v-on:selectedChanged="(n) => form.selected = n"></s-select>
      </div>
      <div class="text-danger" v-if="errors.selected">
        {{errors.selected}}
      </div>
      <br>
      <label>Number Of Available Parkings</label>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">
          <i class="fa fa-bed" aria-hidden="true"></i>
        </span>
        <input v-model.number="form.parkingsNumber" ref="" type="text" class="form-control" placeholder="Number of spots" aria-describedby="basic-addon1">
      </div>
      <div class="text-danger" v-if="errors.parkingsNumber">
        {{errors.parkingsNumber}}
      </div>
    </form>
  </template>
  <template slot="footer" scope="props">
    <button class="btn btn-primary" @click.prevent="submit(props)">Save</button>
    <button class="btn btn-default" @click.prevent="props.close()">Close</button>
  </template>
</base-modal>
