<div class="s-editable">
  <div v-if="active" class="">
    <label v-for="label, value in options" >
      <input type="radio"
      :disabled="loading"
      :class="{disabled: loading}"
      v-model="editedValue"
      :value="value"
      ref="input"
      class=""
      placeholder=""
      />
      {{label}} &nbsp;
    </label>
    <button :disabled="loading" :class="{disabled: loading}" class="btn btn-success" @click="save()" type="button">
      <span v-if="loading">
        <i class="fa fa-spinner fa-spin"></i>
        <i class="fa fa-check" aria-hidden="true"></i>
      </span>
      <span v-else>
        <i class="fa fa-check" aria-hidden="true"></i>
      </span>
    </button>
    <button :disabled="loading" :class="{disabled: loading}" class="btn btn-danger" @click="cancel()" type="button">
      <i class="fa fa-times" aria-hidden="true"></i>
    </button>
  </div>
  <div v-else class="editable-container stooltip" @dblclick="enterActiveMode()"
    ref="editableText">
    <span class="tooltiptext">Double click to edit</span>
    {{options[editedValue]}}
    <span class="editable-pincel">
      <i class="fa fa-pencil" aria-hidden="true"></i>
    </span>
  </div>
</div>
