<div v-if="canShow" ref="modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal">
  <div class="modal-dialog" role="document" >
    <div class="modal-content">
      <div class="modal-header">
        <button @click.prevent="close" type="button" class="close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body f16">
        {{ text }}
      </div>
      <div class="modal-footer">
        <button class="btn" :class="'btn-' + (type ? type : 'default')" @click.prevent="ok">Ok</button>
        <button class="btn btn-default" @click.prevent="close">Cancel</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
