<layout>
  <div class="page-header">
    <h1><small>Locations</small></h1>
  </div>
  <div class="row margin-bottom-3x">
    <div class="col-lg-3">
      <div v-if="!loading" class="input-group">
        <input ref="search" v-on:keyup.13="search($refs.search.value)" type="text" class="form-control" placeholder="Search for...">
        <span class="input-group-btn">
          <button @click="search($refs.search.value)" class="btn btn-default" type="button">Go!</button>
        </span>
      </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
  </div><!-- /.row -->
  <div v-if="loading" class="text-center">
    <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
  </div>
  <div v-else>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Location Name</th>
          <th>Vendor Name</th>
          <th>address</th>
          <th>Phone</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item, i) in locations.data">
          <td>{{item.name}}</td>
          <td>{{item.vendor_name}}</td>
          <td>{{item.address}}</td>
          <td>{{item.phone}}</td>
          <td>
            <router-link :to="{name: 'editLocation', params: {id: item.id}}">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </router-link>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination :pages-number="locations.last_page" v-on:pageChanged="(page) => loadPage(page)"></pagination>
  </div>

</layout>
