<layout>
  <div class="page-header">
    <h1 v-if="!loading"><small>Location: {{formData.name}}</small></h1>
  </div>
  <div v-if="loading" class="text-center">
    <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
  </div>
  <form v-else class="">
    <div class="text-right">
      <button v-if="submit_loading" :disabled="submit_loading" type="button" class="btn btn-success">
          <i class="fa fa-spinner fa-spin fa-fw"></i>
          SAVEING...
      </button>
      <button v-else type="button" @click.prevent="onSubmitFom" class="btn btn-success">
        SAVE
      </button>
    </div>
    <tabs>
      <tab title="General">
        <general :form-data="formData" :errors="errors"></general>
      </tab>
      <tab title="Types">
        <types :form-data="formData" :errors="errors"></types>
      </tab>
      <tab title="Channels">
        <!-- <channels></channels> -->
      </tab>
    </tabs>
  </form>

</layout>
