<span>
  <!-- Button trigger modal -->
  <button type="button"
    class="btn"
    :class="btnClass"
    data-toggle="modal"
    @click.prevent="open">
    {{label}}
  </button>

  <div ref="modal" :class="modalClass" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal">
    <div class="modal-dialog" :class="size ? 'modal-' + size : ''" role="document" >
      <div class="modal-content">
        <div class="modal-header">
          <button @click.prevent="close" type="button" class="close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">{{title}}</h4>
        </div>
        <div class="modal-body">
          <slot name="body" :close="close"></slot>
        </div>
        <div class="modal-footer">
          <slot name="footer" :close="close"></slot>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

</span>
