<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <nav class="navbar navbar-default margin-top-3x">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">
                            IMS
                        </a>
                    </div>
                    <ul class="nav navbar-nav">
                      <li v-hasPermits:allow="['location_list']" :class="{'active': $store.state.nav.active.indexOf('locations') > -1}">
                          <router-link
                            :to="{name:'locations.all'}"
                            @click.native="changeRoute('locations.all')"
                            >
                            Locations
                          </router-link>
                      </li>
                      <li v-hasPermits:allow="['channel_list']" :class="{'active': $store.state.nav.active.indexOf('channels') > -1}">
                        <router-link
                          :to="{name:'channels.all'}"
                          @click.native="changeRoute('channels.all')"
                          >
                          Channels
                        </router-link>
                      </li>
                      <li :class="{'active': $store.state.nav.active.indexOf('roles') > -1}">
                        <router-link
                          :to="{name:'roles.all'}"
                          @click.native="changeRoute('roles.all')"
                          >
                          Roles
                        </router-link>
                      </li>
                      <li :class="{'active': $store.state.nav.active.indexOf('users') > -1}">
                        <router-link
                          :to="{name:'users.all'}"
                          @click.native="changeRoute('users.all')"
                          >
                          Users
                        </router-link>
                      </li>
                    </ul>
                    <ul class="pull-right nav navbar-nav">
                      <li>
                        <a href="#" @click.prevent="logout">Logout</a>
                      </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <slot></slot>
</div>
